In [3]:
import datacube
from datacube.storage import masking

# Create an API data access object
dc = datacube.Datacube(app="demo")
dc

Datacube<index=Index<db=PostgresDb<engine=Engine(postgresql://chengyu@:5432/datacube)>>>

In [3]:
df_prodlist = dc.list_products()
df_prodlist.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>description</th>
      <th>product_type</th>
      <th>orbit</th>
      <th>platform</th>
      <th>instrument</th>
      <th>time</th>
      <th>lat</th>
      <th>gsi</th>
      <th>sat_path</th>
      <th>sat_row</th>
      <th>format</th>
      <th>lon</th>
      <th>crs</th>
      <th>resolution</th>
      <th>tile_size</th>
      <th>spatial_dimensions</th>
    </tr>
    <tr>
      <th>id</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>ls7_ledaps_scene</td>
      <td>Landsat 7 LEDAPS 25 metre</td>
      <td>ledaps</td>
      <td>NaN</td>
      <td>LANDSAT_7</td>
      <td>ETM</td>
      <td>None</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>GeoTiff</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ls7_level1_scene</td>
      <td>Landsat 7 Level 1 At-sensor Radiance 25 metre</td>
      <td>level1</td>
      <td>NaN</td>
      <td>LANDSAT_7</td>
      <td>ETM</td>
      <td>None</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>GeoTiff</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>ls7_nbar_scene</td>
      <td>Landsat 7 NBAR 25 metre</td>
      <td>nbar</td>
      <td>NaN</td>
      <td>LANDSAT_7</td>
      <td>ETM</td>
      <td>None</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>GeoTiff</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ls7_nbart_scene</td>
      <td>Landsat 7 NBART 25 metre</td>
      <td>nbart</td>
      <td>NaN</td>
      <td>LANDSAT_7</td>
      <td>ETM</td>
      <td>None</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>GeoTiff</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>ls7_pq_scene</td>
      <td>Landsat 7 PQ 25 metre</td>
      <td>pqa</td>
      <td>NaN</td>
      <td>LANDSAT_7</td>
      <td>ETM</td>
      <td>None</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>GeoTiff</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

Retrieving Data

In [1]:
df_measlist = dc.list_measurements()
df_measlist.head(10)

NameError: name 'dc' is not defined